body {
    background-color: #F1F2F6;
}

#title {
    display: flex;
    justify-content: center;
    margin: 10px, auto;
}

#header {
    display: flex;
    padding: 0, 5px;
    margin-bottom: 0;
}

#user {
    margin-right: auto;
}

#streak {
    margin-left: auto;
}

#current-book-box {
    display: flex;
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
}

#current-book {
    margin-right: auto;
}

#chapters {
    margin-left: auto;
}

#bottom {
    display: block;
}
#chapters-read-box {
    justify-content: center;
    background-color: #CAD2C5;
    margin: 10px, auto;
    padding: 5px;
    max-width: 25%;
}