body {
    background-color: #F1F2F6;
}

#title {
    display: flex;
    justify-content: center;
    margin: 10px, auto;
}

#header {
    display: flex;
    padding: 0, 5px;
    margin-bottom: 0;
}

#user {
    margin-right: auto;
}

#streak {
    margin-left: auto;
}

#current-book-box {
    display: flex;
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
}

#current-book {
    margin-right: auto;
}

#chapters {
    margin-left: auto;
}

#bottom {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#chapters-read-box {
    display: flex;
    align-items: center;
    background-color: #CAD2C5;
    margin: 10px, auto;
    padding: 5px;
    max-width: 25%;
    margin: 10px auto 10px auto;
    padding: 10px;
    border-radius: 5px;
}

#notes-box {
    background-color: #FFFFFF;
    border: none;
    border-left: 15px solid #040404;
    width: 300px;
    max-width: 50%;
    height: 300px;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

#quote-box {
    background-color: #CAD2C5;
    width: 200px;
    min-height: 275px;
    overflow: hidden;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

#calender-box {
    background-color: #FFFFFF;
    border: none;
    border-top: 15px solid #DF7575;
    width: 280px;
    height: 285px;
    overflow: hidden;
    margin: 20px;
    padding: 10px;
}

#add{
    align-items: center;
    justify-content: center;
    background-color: #52796F;
    margin: 10px;
    border: none;
    border-radius: 25px;
    width: 30px;
    min-width: fit-content;
    height: 15px;
    min-height: fit-content;
}

#subtract {
    align-items: center;
    justify-content: center;
    background-color: #a92136;
    border: none;
    border-radius: 25px;
    width: 30px;
    min-width: fit-content;
    height: 15px;
    min-height: fit-content;
}


#add:hover {
    background-color: white;
}

#subtract:hover {
    background-color: white;

}

#notes-page {
    height: 85%;
    width: 100%;
    border: none;
}